/.idea/.gitignore
/.idea/misc.xml
/.idea/other.xml
/.idea/vcs.xml
/.idea/trendyol_extension.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/dictionaries
/.idea/jupyter-settings.xml
/.idea/trendyol-extension.iml